/*font-family: 'Courgette', cursive;
font-family: 'Molle', cursive;
font-family: 'Yesteryear', cursive;
font-family: 'Niconne', cursive;
font-family: 'Grand Hotel', cursive;

font-family: 'Baloo Thambi', cursive;
font-family: 'Staatliches', cursive;
font-family: 'Lobster', cursive;
font-family: 'Righteous', cursive;*/

body{
    min-height: 596px;
    background-image: url('../img/bg/gibson_sm.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
a{
    text-decoration: none;
    font-weight: 800
}
a:hover{
    /*cursor: url('http://wiki-devel.sugarlabs.org/images/e/e2/Arrow.cur'), pointer;*/
    cursor: url('../img/guitar.cur'), pointer;
}
ul{
    list-style-type: none;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.logo{
    width: 80px;
}
.logo a img{
    height: 80px;
    margin: 0 0 20px 20px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}
.logo a img:hover{
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
}
nav{
    box-sizing: border-box;
}
nav ul{
    display: flex;
    font-family: 'Baloo Thambi', cursive;
    font-family: 'Staatliches', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Righteous', cursive;
    font-size: 18px;
    margin-right: 30px;
    box-sizing: border-box;
} nav ul li{
    box-sizing: border-box;
}
nav ul a{
    color: #892014;
    font-weight: 900;
    padding: 15px;
    box-sizing: border-box;
}
nav ul a:hover{
    border: solid 1px #892014;
    border-radius: 5px;
    box-sizing: border-box;
}
.empty_space{
    width: 20%;
    height: 500px;   
}
.frame{
    width:50%;
    margin: 50px 0 0 0;
    background-color: #517068;
    border: solid #000 2px;
    border-radius: 8px;
    height: 500px;
    padding: 5px;
    box-sizing: border-box;
}
main{
    position: relative;
    display: flex;
    width: 100%;
}
.content{
    width: 100%;
    border: solid #000 2px;
    border-radius: 8px;
    height: 486px; 
    background-color:#fff;
    box-sizing: border-box; 
    background-image: linear-gradient(to bottom right, #fcf9f4, #9b8d74);
}
.vintage_vinyl{
    font-family: 'Niconne', cursive;
    font-size: 120px;
    font-weight: 800;
    position: absolute;
    top: 40px;
    left: 10px;;
    text-transform: capitalize;
    ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Safari */
    transform: rotate(-10deg); /* Standard syntax */
    text-shadow: 2px 2px #517068;
}
.aside_frame{
    width: 20%;
    margin:50px auto;
    padding: 5px;
    background-color: #f7f4ef;
    border: solid #000 2px;
    border-radius: 8px;
    height: 500px;
    box-sizing: border-box;
    background-color: #517068;
}
.aside{
    width: 100%;
    margin: auto;
    background-color: #e5c48e;
    border: solid #000 2px;
    border-radius: 8px;
    height: 486px;
    background-image: linear-gradient(to bottom right, #c9ba9f, #96815e);
    box-sizing: border-box;
}
.aside ul li{
    color: #517068;
    font-size: 35px;
    font-family: 'Niconne', cursive;
    text-transform: capitalize;
    ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Safari */
    transform: rotate(-10deg); /* Standard syntax */
    padding: 10%;
    text-shadow: 1px 1px #000;
}